<!DOCTYPE html>
<html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>

<body>

<style>
    button#mkMedicine {
        margin-top: 30px;
        position: inherit;
    }
</style>

<div ng-app="pharmaceuticalPackList" ng-controller="PharmaceuticaApi" data-ng-init="Init()">
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Medicine Creation</h4>
                </div>
                <div class="modal-body">
                    <form name="myForm">
                        <div class="form-group">
                            <label for="name-imput">Medicine Name</label>
                            <input type="text" class="form-control" id="name-imput" placeholder="Enter medicine name" ng-model="medicine.name" required>
                        </div>
                        <div class="form-group">
                            <label for="cost-input" class="col-2 col-form-label">Cost</label>
                            <div class="col-10">
                                <input class="form-control" type="number"  id="cost-input" ng-model="medicine.cost">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="price-input" class="col-2 col-form-label">Price</label>
                            <div class="col-10">
                                <input class="form-control" type="number"  id="price-input" ng-model="medicine.price">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="date">Expiration date</label>
                            <input id="expiration" class="form-control" id="date" name="date" placeholder="MM/DD/YYY" data-ng-model="expiration" type="text"/>
                        </div>
                        <div class="form-group">
                            <label for="weight-input" class="col-2 col-form-label">Weight</label>
                            <div class="col-10">
                                <input class="form-control" type="number" value="42" id="weight-input" ng-model="medicine.weiht">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="vendor-imput">Vendor</label>
                            <input type="text" class="form-control" id="vendor-imput" placeholder="Enter vendor name" ng-model="medicine.vendor">
                        </div>
                        <button ng-disabled="myForm.user.$dirty && myForm.user.$invalid" type="button" class="btn btn-primary" ng-click="makeMedicine()">Submit</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <button id="mkMedicine" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Make Medicine</button>
        <h2>List of packs</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Beautiful Product Name</th>
                <th>Medicine Name</th>
                <th>Cost</th>
                <th>Expiration Date</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="pack in packList">
                <td>{{pack.beautifulProductName}}</td>
                <td>{{pack.medicineName}}</td>
                <td>{{pack.price}}</td>
                <td>{{pack.exprirationDate  | date: 'yyyy-MM-dd' }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<!--  jQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script></script>
<!-- Bootstrap Date-Picker Plugin -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="js/main.js"></script>


</body>
</html>

